{% extends "base.html.twig" %}

{% block title %}500{% endblock %}
{% block stylesheets %}
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/error_css/css/style.css" />
{% endblock %}

{% block body %}
<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>500</h1>
			</div>
			<h2>{{'error.titre'|trans}}</h2>
			<p>{{'error.msg 500'|trans}}</p>
			<a href="{{path('app_produit_index') }}">{{'error.back'|trans}}</a>
		</div>
	</div>
{% endblock %}